.book-details-table {
    width: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.book-details-table th, .book-details-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}
.book-details-buttons {
    margin-top: 30px;
    margin-left: 80px;
    display: flex;
    gap: 295px;
}
.student-details-buttons {
    margin-top: 30px;
    margin-left: 80px;
    justify-content: center;
    display: flex;
    gap: 30px;
}
.book-add-buttons
{
    justify-content: center;
    display: flex;
    gap: 30px;
}

.book-btn {
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    min-width: 100px;
    text-align: center;
}
.book-btn-update {
    background-color: #4CAF50;
    color: white;
    width: 130px;

}
.book-btn-delete {
    background-color: #f44336;
    color: white;
    width: 130px;

}
.book-btn-delete:hover {
    background-color: #e83225;

}
.book-btn-back {
    background-color: #464443;
    color: white;
}
.book-btn:hover {
    opacity: 0.9;
}
.book-details-table input
{
    height: 30px;
    border: none;
    width: 400px;
}
.assign-book form
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 320px;
    margin-right: 100px;
}
.assign-book input
{
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
}
.student-transactions
{
    margin-top: 70px;
}
.student-transactions table
{
    margin-top: 10px;
}
.book-add-buttons
{
    justify-content: center;
    display: flex;
    gap: 30px;
}