.add-btn
{
    width: 100px;
    
}
.book-details table
{
    margin-top:30px;
}
.add-search-btn input
{
    width: 200px;
    height:30px;
}
.add-search-btn form
{
    display:flex;
    flex-direction:row;
    gap:2px;
}
.add-search-btn 
{
    display:flex;
    flex-direction:row;
    gap:70px;
    margin-top:100px; 
    margin-left:80px; 
}
#search
{
    width:100px;
    background-color:grey;
}
#search:hover
{
    opacity:0.9;
}
.add-search-btn input{
    border:2px solid black;
    border-radius:5px;
    height:33px;
}
